:root{
    --blogCssVersion:0;
}
/* template0の設定 */
#template0_body #dates{
    display: flex;
    flex-wrap:wrap;
    justify-content:right;
    border-bottom: 1px solid gray;
}
#template0_body #dates>div{
    margin:0 10px;
}
#template0_body #tags{
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    border-top: 1px solid gray;
    padding: 0 30px;
}
#template0_body #tags>p{
    width:100%;
    margin: 2px 5px;
}
#template0_body #tags>a{
    margin: 2px 5px;
}
#template0_body #contents{
    margin-top:10px;
    margin-bottom: 10px;
}